.row
  .large-12.columns
    .listing-header
      %h3=@listing.title
      =link_to edit_listing_path(@listing) do
        %button edit
      =link_to listing_path(@listing), :method=>:delete do
        %button delete


.row
  .large-7.columns
    .listing-body
      .hidden.author{:style => "display: none;"}
        %p
          posted by
          =link_to @listing.user.username, user_path(@listing.user)
          %button message #{@listing.user.username}
      #map-canvas.hidden{:style => "height: 200px; width: 200px;"}
      =render :partial => 'map_js'
      %p
        $#{@listing.price}
      -#-unless current_user == @listing.user
      =render :partial => 'lead_button', :locals => {listing:@listing}
      .hidden
        %label property description
        =@listing.description
        %label address
        =@listing.address
        %label property type
        =@listing.property_type
        %label # units
        =@listing.units
        %label status
        =@listing.status


#token-form.reveal-modal{"data-reveal" => ""}
  %h3 looks like you don't have any tokens.
  %p you'll need to buy some in case someone asks for your lead
  %button buy tokens
-if user_signed_in? && @listing.user == current_user
  -puts current_user.tokens
  -if current_user.tokens == 0 || current_user.tokens.nil?
    :javascript
       $('#token-form').foundation('reveal', 'open');