.row
  .large-12.columns

    .listing-header
      %h3=@listing.title
      -if user_signed_in? && @listing.user == current_user
        =link_to edit_listing_path(@listing) do
          %button.tiny edit
        =link_to listing_path(@listing), :method=>:delete do
          %button.tiny delete
        %button.tiny{:onclick=>"$('#manage-photos').show()"} manage photos
    .full-listing-meta
      .city dummy location
      .timestamp=time_ago_in_words(@listing.created_at)
      .hidden{:style => "clear:both;padding-top: 11px;"}
        =@listing.description
.row
  .large-9.columns
    .listing-body

      .hidden.author{:style => "display: none;"}
        %p
          posted by
          =link_to @listing.user.username, user_path(@listing.user)


      #map-canvas.hidden{:style => "height: 200px; width: 600px;"}
      =render :partial => 'map_js'

      -#-unless current_user == @listing.user
      %div{:style=>"margin-top: 15px;"}
      %label property type
      =@listing.property_type
      %label # units
      =@listing.units
      %label status
      =@listing.status
      .hidden
        %label address
        =@listing.address
  .large-3.columns
    .stats-box
      %p.price
        $#{@listing.price}
      %label NOI
      %span
        $#{@listing.noi}/m
      %label Size
      %span ???
      %label Cap Rate
      %span
        #{@listing.cap_rate}%
      %label ARV
      %span
        $#{@listing.arv}
      -if user_signed_in?
        =render :partial => 'lead_button', :locals => {listing:@listing}
      -else
        .listing-buttons
          =link_to new_user_session_path do
            %button.large.lead-button get lead
-if user_signed_in? && @listing.user == current_user
  -if current_user.tokens <= 0 || current_user.tokens.nil?
    :javascript
      $(document).on('ready page:load', function(){
         $('#buy-token-form').foundation('reveal', 'open');
         $('#buy-token-form .message').html("you will need to have tokens in case someone asks for your lead");
       });
