.row
  .large-12.columns
    .listing-header
      %h3=@listing.title
      =link_to edit_listing_path(@listing) do
        %button edit
      =link_to listing_path(@listing), :method=>:delete do
        %button delete


.row
  .large-7.columns
    .listing-body
      %p=@listing.description
      %p
        $#{@listing.price}

      -#=render :partial => 'tags', :locals => {listing:@listing}


#token-form.reveal-modal{"data-reveal" => ""}
