-if user_signed_in?
  .listing-buttons
    -if current_user.tokens > 0
      =link_to "#", :"data-reveal-id"=>"approve-purchase" do
        %button.large.lead-button get lead
    -else
      =link_to "#", :"data-reveal-id"=>"buy-token-form" do
        %button{:value => listing.id} get lead
        %span.token_count (no tokens available)