.listing[listing]
  .row
    .large-8.columns
      .listing-row
        .listing-title{:style => "background-color: #F4EFDF;"}
          =image_tag 'listing.png', :size=>'15x20'
          =link_to listing.title, listing_path(listing)
      %div{:style=>"margin-left: 12px;"}
        .listing-feed-meta
          .price-info
            =listing.price

        .listing-description
          =listing.description

      -if user_signed_in?
        .listing-buttons
          .get-lead
          .message



