.row
  .large-12.columns
    .listing[listing]
      .row
        .large-5.columns
          .feed-listing-image
            %img{:src => "http://placehold.it/400x300&text=[img]"}/

        .large-7.columns

          .feed-listing-body

            %h4=listing.title
            .feed-listing-meta
              %span=listing.city
            .listing-description
              =listing.description
            %h4
              $#{listing.price}
            -if user_signed_in?
              .listing-buttons
                %button get lead
      .row
        .large-12.columns
          .feed-listing-number
            %label noi
            %span=listing.noi
          .feed-listing-number
            %label size
            %span=listing.units
          .feed-listing-number
            %label cap rate
            %span=listing.cap_rate
          .feed-listing-number
            %label arv
            %span=listing.arv