-if listing.images.present?
  -listing.images.each do |i|
    %div{:id => "image-#{i.id}"}
      =image_tag i.pic.url(:medium)
      -if listing.user == current_user
        .delete
          =link_to listing_image_path(listing, i), :method => "delete", :remote => :true do
            %i.fi-trash
-else
  =image_tag ('listing-placeholder.png')