$('.hidden').show();
$('.token_count').html('(#{current_user.tokens} tokens available)');
$('.user-tokens').html('#{current_user.tokens} tokens');
$('.without-lead').hide();
$('#approve-purchase').foundation("reveal","close");
