= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=places"

.listing[@listing]
  =render :partial => 'full_listing'



#item-photo
  =render :partial => 'listings/photo', :locals=>{listing:@listing}
-if @listing.user == current_user
  =s3_uploader_form callback_url: upload_file_listing_path(@listing), remote: :true, callback_param: "listing[image_url]", id: "s3-uploader" do
    %div#test
      .wrapper
        =file_field_tag :file

  %script#template-upload{:type => "text/x-tmpl"}
    .upload{:id => "file-{%=o.unique_id%}"}
      {%=o.name%}
      .progress
        .bar{:style => "width: 0%"}


