%p= @message
%p=link_to 'reset password', "https://quiet-refuge-7178.herokuapp.com"+confirm_users_path(:email=>@user.email, :confirm_code=>@user.confirm_code)
%p=link_to "AnySizeDeals.com", "http://anysizedeals.com/"
