%h3 Welcome to AnySizeDeals,
%p We make Real Estate Matchmaking Easy!

%p Thanks for creating your account and joining our growing network of real estate professionals. To start making matches, visit our site and browse the available deals and nearby Dealmakers.

%p To make your life easier, we thought it might be helpful to point you to some awesome ways to use AnySizeDeals.

%h4 Dealflow
%p Looking for deals? Go to the Dealflow and search through the list of deals in your area. If you want more information on the property and want to connect with the Dealmaker who posted the deal just buy tokens. Get great leads for only $1.

%h4 Dealmakers
%p Want to connect with other real estate investors and professionals on the platform? Go to the Dealmaker tab and search members based on area of expertise, geographic location, deal size and property. Search and message Dealmakers for FREE.

%h4 Any  Questions?
%p If you get stuck or have any questions send us an email at support@anysizedeals.com.

%p Let’s Change the Way Deals are Done!

%p=link_to "AnySizeDeals.com", "https://www.anysizedeals.com/"
