#profile_section
  #profile_img
    =link_to user_path(current_user) do
      =image_tag("profile.png", :size=>"26x26")
  #expanded_user_menu
    #user-menu
      %ul
        %div{:style => "color: yellow; padding: 0px 10px; text-align:center;"}
          logged in as
          =current_user.username
          %br
          .user-tokens
            #{current_user.tokens} tokens
          %button.tiny{:"data-reveal-id"=>"buy-token-form"} buy
      %ul
        =link_to user_path(current_user) do
          %li
            your profile
        =link_to user_leads_path(current_user) do
          %li
            your leads
        =link_to user_conversations_path(current_user) do
          %li
            your inbox
        =link_to listings_user_path(current_user) do
          %li
            your listings

      %ul
        = link_to edit_user_path(current_user) do
          %li
            settings
        = link_to destroy_user_session_path, :method => 'delete' do
          %li
            logout



