%br
-if @user.market_list.length > 1
  market:
  -@user.market_list.each do |t|
    =link_to t, users_path(:market=>t)
  %br
-if @user.dealmaker_list.length > 1
  dealmaker:
  -@user.dealmaker_list.each do |t|
    =link_to t, users_path(:dealmaker=>t)
-if @user.expertise_list.length > 1
  expertise:
  -@user.expertise_list.each do |t|
    =link_to t, users_path(:expertise=>t)
