%br
dietary:
-@user.dietary_list.each do |t|
  =link_to t, meals_path(:dietary=>t)
%br
cuisine:
-@user.cuisine_list.each do |t|
  =link_to t, meals_path(:cuisine=>t)
%br
location:
-@user.location_list.each do |t|
  =link_to t, meals_path(:location=>t)
%br
environmental:
-@user.env_list.each do |t|
  =link_to t, meals_path(:env=>t)