%h5 Areas of Expertise

-if @user.expertise_list.length > 0
  -@user.expertise_list.each do |t|
    =link_to t, users_path(:expertise=>t), :class => 'tag'
%hr
%h5 Markets

-if @user.market_list.length > 0
  -@user.market_list.each do |t|
    =link_to t, users_path(:market=>t), :class => 'tag'