.user[user]
  %div{:style => "padding: 9px 14px;"}
    %div
      .avatar{:style => "margin-bottom: 10px;"}
        -if user_signed_in?
          =link_to user_path(user) do
            -if user.pic.present?
              =image_tag user.pic.url(:thumb)
            -else
              %img{:src => "http://placehold.it/80x80&text=[avatar]"}/
        -else
          =link_to new_user_session_path do
            -if user.pic.present?
              =image_tag user.pic.url(:thumb)
            -else
              %img{:src => "http://placehold.it/80x80&text=[avatar]"}/

      .heading
        -if user_signed_in?
          =link_to user_path(user) do
            .name
              #{user.first_name} #{user.last_name}
        -else
          =link_to new_user_session_path do
            .name
              #{user.first_name}

        .dealmaker-type=user.dealmaker_list[0]
        .city
          -if user.address.present?
            =user.address

    .user-property
      %label Looking for
      %span=user.dealmaker_match_list
    .user-property
      %label Purpose
      %span=user.purpose
    .user-property
      %label Property Type
      %span=user.property_type
    .user-property
      %label Deal Size
      %span=user.deal_size
    .user-property{:style => "margin-bottom: 10px;"}
    -if user_signed_in?
      %button.tiny.right.message{:value => user.id} message
    -else
      =link_to new_user_session_path do
        %button.tiny.right.message Message
