.row

  .large-6.columns
    .user-credits
      credits:
      =@user.credits
  .large-6.columns
    =link_to "#", :"data-reveal-id"=>"transfer-credits" do
      %button.right xfer credits
#transfers
  .row
    .large-3.columns
      %h4 sender
    .large-3.columns
      %h4 recipient
    .large-3.columns
      %h4
        ="#credits"
    .large-3.columns
      %h4 date
    -@xfers.each do |x|
      .large-3.columns
        =x.sender.username
      .large-3.columns
        =x.recipient.username
      .large-3.columns
        =x.credits
      .large-3.columns
        =x.created_at.strftime("%d/%m/%y")
.row
  .large-12.columns
    .expand-history
      see more
#transfer-credits.reveal-modal{"data-reveal" => ""}
  %h4 Transfer credits
  %p Choose a recipient, enter a transfer amount, then click "Send Credits"
  =form_tag transfer_credits_users_path, :method=>:post, :remote=>:true do
    %label who do you want to send them to?
    =text_field_tag :user, nil, :id => "search_people"
    =hidden_field_tag :user_id
    #search_result
    %label how many?
    =number_field_tag :credits, 1, in: 1..100
    =submit_tag "Send Credits", :class => "button hidden", :id=>"send-button"

  %a.close-reveal-modal ×

:javascript
  function setClickBehavior() {
    $('.username').click(function() {
      if($(this).data("username") == "#{current_user.username}") {
        $.notification({ message:"you can't message yourself, silly user" });
        $('#search_result').empty();
        $('#search_people').val('');
      }
      else {

        $('#user_id').val($(this).data("user"));
        $('#search_people').val($(this).data("username"));
        $('#search_result').empty();
        $('#send-button').toggleClass("hidden");
      }

    });
  };
  $(".expand-history").on("click", function() {
    $('#transfers').toggleClass("expanded-list");
  })
  $(document).ready(function() {
    jQuery(function(){
        jQuery('input#search_people')
          .data('timeout', null)
          .keyup(function(){
              clearTimeout(jQuery(this).data('timeout'));
              jQuery(this).data('timeout', setTimeout(function(){

               //timeout function
               $.post('/users/autocomplete', { q: $("input#search_people").val()}, function(data) {

                  Jaml.register('user', function(user) {
                    a({href: ("#"), cls: "username", "data-user": user.id, "data-username": user.username},
                      div(
                        img({src: user.profile_pic_id}),
                        span("@",user.username, "  ", user.first_name)
                        )
                      )
                    div({cls: "clearboth"})
                  });



                   if(data.length > 0){
                     $("#search_result").html("people maching '"+ $("input#search_people").val() + "'")
                     $(data).each(function(idx, d){
                       if(d.profile_pic_id == null){
                         d.profile_pic_id = "/assets/profile-green.svg" //place you default img
                       }

                       d.full_name = "(" + d.first_name + ")"

                       $("#search_result").append(Jaml.render('user',d));
                       setClickBehavior();
                     })
                   }else{
                     $("#search_result").html("no result")
                   }

                   }, "json");

              //timeout function

              }, 500));
          });
      });
    });
