.row
  .large-8.columns
    =form_for @user, :url => user_path(@user), :method => :patch do |f|
      =f.label :username
      =f.text_field :username
      =f.label :first_name
      =f.text_field :first_name
      =f.label :last_name
      =f.text_field :last_name
      =f.label :about
      =f.text_area :about
      =f.label :address
      =f.text_field :address
      =f.label :dealmaker_type
      =f.select(:dealmaker_list, options_from_collection_for_select(@dealmaker_tags, :name, :name, @user.dealmaker_list), {}, { :class => 'my_style_class' })
      =f.label :dealmaker_match
      =f.select(:dealmaker_match_list, options_from_collection_for_select(@dealmaker_match_tags, :name, :name, @user.dealmaker_match_list), {}, { :class => 'my_style_class' })
      =f.label :deal_size
      =f.select :deal_size, options_for_select(["","$0-$100K", "$100K-$500K", "$500K-$1MM", "$1MM-$3MM", "$3MM-$10MM", "$10MM+"], @user.deal_size)

      =f.label :market
      =f.text_field :market_list, :data => {:pre => @user.market_list.collect{|tag| {:id => tag, :name => tag}}}
      .large-12.columns
        -@market_tags.each do |t|
          .tag-suggestion{:value => "market"}
            %a= t
      =f.label :property_type
      =f.select(:property_type, ['','1-4 units','5-10 units', '20 units+','Commercial','Office','Retail','Shopping Center','Mixed Use','Vacant Lot','Land','Other'], {}, { :class => 'my_style_class' })

      =f.label :expertise
      =f.text_field :expertise_list, :data => {:pre => @user.expertise_list.collect{|tag| {:id => tag, :name => tag}}}
      .large-12.columns
        -@expertise_tags.each do |t|
          .tag-suggestion{:value => "expertise"}
            %a= t
      =f.submit "save"
  .large-4.columns
    #user-photo
    %h4 upload profile pic
    =s3_uploader_form callback_url: upload_file_user_path(@user), remote: :true, callback_param: "user[image_url]", id: "s3-uploader" do
      =file_field_tag :file

    %script#template-upload{:type => "text/x-tmpl"}
      .upload{:id => "file-{%=o.unique_id%}"}
        {%=o.name%}
        .progress
          .bar{:style => "width: 0%"}

:javascript
  $(document).on('ready page:load', function(){

    $("#s3-uploader").S3Uploader();
  });
:javascript
  $(document).on('ready page:load', function(){
    $("#user_market_list").tokenInput(
        "#{autocomplete_market_search_users_path}", {
          preventDuplicates:"true",
          minChars: 2,
          theme: "facebook",
          prePopulate: $("#user_market_list").data("pre"),
          allowFreeTagging: true,
          onAdd: function(item) {
            item.name = item.name.replace("'","");
          }
        }
      );
      $("#user_expertise_list").tokenInput(
        "#{autocomplete_expertise_search_users_path}", {
          preventDuplicates:"true",
          minChars: 2,
          theme: "facebook",
          prePopulate: $("#user_expertise_list").data("pre"),
          allowFreeTagging: true,
          onAdd: function(item) {
            item.name = item.name.replace("'","");
          }
        }
      );

    $(".tag-suggestion a").click(function() {
      var tag_list_selector = "#user_"+$(this).parent().attr("value")+"_list";
      $(tag_list_selector).tokenInput('add', {id: $(this).text(), name: $(this).text()});
      $(this).parent().remove();
      return false
    });
  });
