#add-email.container
  %h4 Make some matches
  = form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f|
    - if @show_errors && current_user.errors.any?
      #error_explanation
        - current_user.errors.full_messages.each do |msg|
          = msg
          %br
    .form-group
      %label what kind(s) of dealmaker are you?
      =f.select(:dealmaker_list, options_from_collection_for_select(@dealmaker_tags, :name, :name), {}, { :class => 'my_style_class' })
      =f.select(:dealmaker_match_list, options_from_collection_for_select(@dealmaker_match_tags, :name, :name), {}, { :class => 'my_style_class' })
    .form-group
      %label what size deal are you looking for?
      =f.number_field :min_deal
      =f.number_field :max_deal
    .actions
      = f.submit 'Continue', :class => 'btn btn-primary'


:javascript
  $(document).on('ready page:load', function(){



    $(".tag-suggestion a").click(function() {
      var tag_list_selector = "#user_"+$(this).parent().attr("value")+"_list";
      $(tag_list_selector).tokenInput('add', {id: $(this).text(), name: $(this).text()});
      $(this).parent().remove();
      return false
    });
  });
