.row

  .large-12.columns
    %h3 Manage Meal Access
  .large-6.columns
    %h4 blacklist
    %p users on this list cannot see any meals you post
    %label add a user to blacklist
    =text_field_tag :user, nil, :id => "search_people"
    #search_result
    #blacklist
      =render @user.blacklists
  .large-6.columns
    %h4 whitelist
    %p only users on this list can see your private meals
    %label add a user to whitelist
    =text_field_tag :user, nil, :id => "search_people2"
    #search_result2
    #whitelist
      =render @user.whitelists
=render :partial => 'shared/user_autosuggest'
:javascript
  function setBlackListClickBehavior() {
    $('.username').click(function() {
      if($(this).data("username") == "#{current_user.username}") {
        $.notification({ message:"you can't blacklist yourself, silly user" });
        $('#search_result').empty();
        $('#search_people').val('');
      }
      else {

        $('#search_people').val('');
        $('#search_result').empty();
        var data = {
          blacklisted_user_id: $(this).data("user")
        }
        url = "/users/"+$(this).data("user")+"/blacklists";
        $.post(url, data);
      }

    });
  };
  function setWhiteListClickBehavior() {
    $('.username').click(function() {
      if($(this).data("username") == "#{current_user.username}") {
        $.notification({ message:"you can't blacklist yourself, silly user" });
        $('#search_result').empty();
        $('#search_people').val('');
      }
      else {

        $('#search_people2').val('');
        $('#search_result2').empty();
        var data = {
          whitelisted_user_id: $(this).data("user")
        }
        url = "/users/"+$(this).data("user")+"/whitelists";
        $.post(url, data);
      }

    });
  };
