#user
  =@user.username
  (#{@user.first_name} #{@user.last_name})
  %h4 about
  =@user.about
  %hr
  .row
    .large-6.columns
      %h3 upcoming meals
      -@user.meals.future.each do |meal|
        =render meal
    .large-6.columns
      %h3 previous meals
      -@user.meals.past.each do |meal|
        =render meal
  -if current_user == @user
    =link_to "edit profile", edit_user_path(@user)
  -unless current_user == @user
    =link_to user_blacklists_path(@user), :method=>:post, :remote=>:true do
      .blacklist
        -if @user.blacklists.map(&:blacklisted_user_id).include?(current_user.id)
          remove blacklist
        -else
          blacklist
      -@subscription = current_user.subscriptions.where(:subscription_id => @user.id).first
      -if @subscription.present?
        =render :partial => 'subscriptions/unfollow_user', :locals => {user:@user}
      -else
        =render :partial => 'subscriptions/follow_user', :locals => {user:@user}
      =link_to "#", :id => "message-button" do
        button.small message #{@user.name}

