#user
  .row

    .large-12.columns
      .profile-name
        =@user.username
        (#{@user.first_name} #{@user.last_name})
      .user-actions
        -if current_user == @user
          =link_to edit_user_path(@user) do
            %button.small edit


  .row
    .large-12.columns
      %h5 about
      =@user.about
      =render :partial => 'tags'

