#user
  .row
    .large-3.columns
      -if @user.pic.present?
        =image_tag @user.pic.url(:medium)
    .large-9.columns
      .profile-name
        =@user.username
        (#{@user.first_name} #{@user.last_name})
      .user-actions
        -if current_user == @user
          =link_to edit_user_path(@user) do
            %button.small edit
        -unless current_user == @user && user_signed_in?
          %a.button.small{:"data-reveal-id"=>"message-user", :href=>"#"} message
          #message-user.reveal-modal{"data-reveal" => ""}
            =render :partial => 'conversations/message_user', :locals => {user:@user}
          :javascript
            function showMessageWindow() {
                $('body').append("#{escape_javascript( render :partial => 'conversations/message_user', :locals => {:user => @user})}");
            }
  .row
    .large-12.columns
      %h5 about
      =@user.about
      =render :partial => 'tags'

