.row.page
  .large-12.columns
    %h3 About Us
    %p AnySizeDeals was created to help real estate investors and professionals connect with people they don’t know, but should know, based on their area of expertise and the types of deals they are interested in.
    %p Regardless of the size of your portfolio, or the types of deals you are working on, AnySizeDeals will be your partner in the growth and success of your enterprise. Our technology enabled global vehicle will allow you to connect with the right people, on the right platform, for the right deals.
    %h3 Mission Statement
    %h4 To Provide Focused, Virtual and High-Powered Networking to Real Estate Investors and Professionals.
    %p Real estate is a network-intensive business and as such you should be able to communicate with potential leads and access new sources of capital 24/7, 365 on your time and in your own way. We provide you with the tools you need to accomplish what you set out to do.
    %h3 Team

    .row
      .large-3.columns
        =image_tag('steve.jpg', :size=>'200')

      .large-9.columns
        %h4 Steve Nson
        %h5 Founder & CEO
        %p Steve’s responsibilities involve strategic partnerships, fundraising, and public relations, as well as setting the long-term strategy and goals for the company. Steve has 12 years of experience in real-estate and has managed and leased-up assets with a combined value in excess of $7 billion dollars.
    .row{:style => "margin-top: 15px;"}
      .large-3.columns
        =image_tag('clayton.jpg')
      .large-9.columns
        %h4 Clayton Banks
        %h5 Advisor
        %p Clayton is the Co-Founder of Silicon Harlem, the tech and innovation hub of Uptown NYC. He is a media executive with over 17 years of experience in business strategy, content development and multi-platform distribution. He serves as a strategic advisor to AnySizeDeals, and helps the team in the business development process.