.row.page
  .large-12.columns
    %h3 FAQ

    %label What is AnySizeDeals?

    %p AnySizeDeals is the premiere networking and lead-generating site for real estate investors.

    %p You can Post and Search Deals in our Dealflow for FREE and connect with fellow investors.

    %p Pay only $1 per lead for an investment property that interests you. The process is simple.
    *Buy tokens ($1 per token)
    %br
    *Search the Dealflow
    %br

    *Click on ‘Purchase Lead’ for the investment property of your choice and receive details on the listing as well as the contact information of the AnySizeDeals Member who posted the deal.
    %br
    %br
    %p Just getting started in real estate? Not yet looking for an investment property? You can message and network on AnySizeDeals with other investors, new and experienced, at no cost.

    %label What does it mean to get a lead?

    %p Dealmakers (explained below) all have FREE access to our Dealflow (investment listings uploaded by fellow Dealmakers). However if you see a deal that you are interested in and you want more information, you have the option of clicking the ‘Purchase Lead’ button, which deducts a $1 token from your account.  The lead that you paid for will then populate additional information about the property including address, location, and the contact info of the Dealmaker who posted it so you can follow up. Your lead will then be displayed in your account under “My leads.”

    %label Why $1 per lead?

    %p Charging $1 per lead to the Dealmaker who posts the deal as well as the Dealmaker who seeks out the deal allows for more serious investor interactions and increased potential to close deals. In addition, paying $1 per lead allows you to focus on only the leads that you want vs. paying a monthly subscription rate (upwards of $250/month) like some of our competitors, saving you money in the process. We also NEVER charge a commission for deals initiated through our platform. You keep 100% of your profits.






    %label If a token is just $1, why do I have to purchase at least 10 tokens to get started?

    %p Member feedback indicated it was easier to have a minimum amount in your account, rather than pay several $1 credit card transactions. By purchasing at least 10 tokens you will be able to get leads without the hassle of having to make a new credit card transaction each time. In addition, having a balance of tokens ensures that you will not miss out on any opportunities of Dealmakers who want to connect with you. In order for your property to stay in the Dealflow and viewable by Dealmakers, tokens must be available.


    %label I have uploaded my property but cannot view my listing.

    %p If you have uploaded a property but cannot view your listing, you need to purchase tokens. You must have at least one token in your account in order for your listing to be active in the Dealflow. You can purchase tokens in increments of 10+. The reason for this is the following; Dealmakers who choose to contact you through the ‘Purchase Lead’ option cannot do so unless you have tokens available to pay for that lead. Maintaining a balance of tokens allows you to make sure you do not miss any leads coming your way.

    %label Do I have to buy tokens each time I list a property?

    %p No. As long as you have at least 1 token in your account you can list a property. However, once your tokens run out, your listing will be temporarily suspended until you refill your token balance. The reason for this is that you must have tokens available for when Dealmakers choose your lead. In order for your property to stay live in the Dealflow and viewable by Dealmakers, tokens must be available.

    %label Do I have to keep my property listed until my tokens run out?
    %p No. You can take it down at anytime, in addition your tokens can be used toward leads from a different property you have posted or to get leads yourself.

    %label Viewing a Deal.

    %p You can search and view Deals listed in the Dealflow for FREE. If you are interested in pursuing the lead and contacting the Dealmaker who posted the property you have to purchase a $1 token. The Dealmaker who posted the property will then provide you with the rest of the property details.

    %label Why do I have to pay $1 to get a lead?

    %p You can search Dealmakers and the Dealflow for FREE. You only pay $1 if there is a lead you are interested in. This is our way of making sure Dealmakers are not wasting their time talking to prospects who are not as serious about the deal. AnySizeDeals NEVER takes a commission or % of any transactions initiated through the platform. Dealmakers keep 100% of their profits, all we make are the $1 tokens per lead.

    %label Do I have to pay per lead to communicate with members on AnySizeDeals.com?

    %p No. To email and connect with community members on the platform is FREE, the only time you need to purchase tokens, is if you are interested in either listing your property or getting more information on a specific deal you saw in the Dealflow.




    %h4 Key Terms
    After Repair Value (ARV) - is the real estate investor's equivalent to fair market value (FMV). The vast majority of discounted properties are distressed properties, vacant properties or fixer uppers.
    They are often properties that need repairs to be returned to the fullest profitable use. As a result, investors have found that they must know the difference between the "as-is" value of a desired property, and the value we expect a developed piece of real estate to fetch on the open market after it has been completely fixed up.
    If you are a real estate wholesaler, ARV is of primary importance to you. As a real estate wholesaler, your primary concern should be, "At what price would a substantial segment of rehabbers, landlords and cash buyers in my area fall all over themselves to buy this property from me and be willing to close within a week?"
    %hr
    Capital Provider – A Dealmaker who provides funding for deals in the form of Equity, Debt or Joint Venture (JV) opportunities.
    %hr
    Capitalization (Cap) Rate - A rate of return on a real estate investment property based on the expected income that the property will generate. Cap Rate is used to estimate the investor's potential return on his or her investment. This is done by dividing the net operating income the property will generate by the total value of the property.
    %hr
    Dealflow – Proprietary listing feed on AnySizeDeals platform. It is the marketplace where users post and find properties on AnySizeDeals.
    %hr
    Dealmaker – A member of the AnySizeDeals community. Someone looking to grow their network, increase their referrals and close deals faster.  Dealmakers encompass every aspect of the real estate ecosystem from investors, to wholesalers, to title agents, lenders, attorneys and everyone in between.
    %hr
    For Sale by Owner (FSBO) – FSBO is a method of selling property without the use of an agent or broker. Generally, the reason that the seller does not use the services of an agent or broker is because they want to avoid paying a hefty commission for the transaction.
    %hr
    JV Partnership  – This is a situation in which two or more real estate investors agree to pool their resources for the purpose of funding or acquiring a deal. The JV partnership is its own entity, separate and apart from the participants' other business interests.
    %hr
    Hard Money Loan - A loan that is underwritten with the condition and value of the property as the primary criteria for approval. Secondary issues may include the credit of the borrower, the ability of the borrower to repay the loan and/or the ability of the borrower to manage the property or successfully complete a rehab and sell the property. Owner occupancy, debt ratios and other issues are seldom a factor. Appraisals rather than purchase prices are used to determine value. Cash out purchases are often allowed and are another key benefit. These loans are usually approved within days and are often funded in two weeks or under with times as short as two or three days not uncommon. The cost for the benefits of speed of funding, lax underwriting and other advantages is typically a moderately high interest rate (usually low to mid teens) and high points (usually 5 to 10).
    %hr
    Intermediary – A member who acts as a facilitator among Dealmakers.
    %hr
    Lead – A lead is a connection made with someone who is looking to buy, sell, fund or joint venture on a property. The lead is both for the person requesting more information on the deal as well as the person who posted the deal.
    %hr
    Net Operating Income (NOI) - From income producing property, the gross income minus the total of all expenses except for debt service. Cash flow is defined as NOI minus the total of all debt service payments.
    %hr
    Real Estate Owned (REO) - Property acquired through a lender through foreclosure and held in inventory.
    %hr
    Rehabber/Flipper – Someone who buys distressed properties at a discount with the objective of improving (rehabbing) the property and reselling it to other investors or homeowners at substantial profit.
    %hr
    Service Provider – Members of the AnySizeDeals community that do not directly buy and sell property but provide related services to the real estate industry (carpenter, electricians, plumbers, contractors, brokers, attorney, interior designers, photographers, appraisers etc)
    %hr
    Token – A form of currency that is exchanged for leads on the AnySizeDeals platform. Each token has the equivalent value of $1 and can be purchased at a minimum of 10 at a time. Tokens are required in order to make your property visible in the Dealflow. Tokens are also required in order to contact the Dealmaker who posted the property information. Tokens are only deducted from your account once you decide to “Purchase a Lead”, or when someone contacts you about a Deal you posted on the “Dealflow.”
    %hr
    Wholesaler – A wholesaler puts property (normally distressed property) under contract and assigns or resells the property to another investor. The investors a wholesaler sells to either use cash, lines of credit, or hard money loans. This allows quick closings on properties that sometimes need extensive repairs. A wholesaler lives off of the idea that price overcomes all objections. If you can sell a property for a low enough price it doesn’t matter what’s wrong with it, somebody will buy it. A wholesaler focuses on developing two things. Finding deals and their network of investors to sell to.



