#home-image.row
  .large-12.columns
    %span.home-message
      AnySizeDeals is Real Estate Matchmaking Made Easy
      #home-buttons.show-for-small
        =link_to new_user_registration_path do
          %button
            Register
        =link_to new_user_session_path do
          %button
            Login
.row{:style => "background-color: #ddd;text-align:center;"}
  =form_tag '/users', :id => 'dealmaker-form', :method => :get do
    =hidden_field_tag :home_form, 'true'
    .large-5.small-12.columns
      %label I am
      =select_tag :dealmaker, options_for_select(dealmaker_options, "Wholesaler")
    .large-5.small-12.columns
      %label Looking for
      =select_tag :dealmaker_match, options_for_select(dealmaker_options, "Cashbuyer")
    .large-2.small-12.columns
      =submit_tag "find dealmakers", :class => "button"
.row{:style => "background-color:#4a90e2; padding: 15px 15px 40px;"}
  %h3.value-proposition Real estate matchmaking made easy
  .large-4.columns
    .circle
      =image_tag('connections-gray.png', :style => "padding: 25px;")
    .value
      %span Grow your network, increase referrals and close deals faster.
  .large-4.columns
    .circle
      =image_tag('dealflow-gray.png')
    .value
      %span Find off-market properties
  .large-4.columns
    .circle
      =image_tag('dealflow-gray.png')
    .value
      %span Manage your leads.

.row
  .dealmaking-events.large-12.columns
    %h3 Testimonials


:css
  .row {
    max-width: 100% !important;

  }
  #content {
  padding: 0px;
  top: 0px;
  }

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://a248.e.akamai.net/secure.meetupstatic.com/s/script/541522619002077648/api/mu.btns.js?id=mrhlamc4hpm0cmbi9fspv2020b";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");