#home-image.row
  .large-12.columns
    %span Real Estate Investors use AnySizeDeals to Find the RIGHTS CONTACTS FOR their transaction.
.row{:style => "background-color: #ddd; height: 50px;"}
  =form_tag '/users', :id => 'dealmaker-form', :method => :get do
    =hidden_field_tag :home_form, 'true'
    .large-5.columns
      %label I am
      =select_tag :dealmaker, options_from_collection_for_select(@dealmaker_tags, :name, :name)
    .large-5.columns
      %label Looking for
      =select_tag :dealmaker_match, options_from_collection_for_select(@dealmaker_match_tags, :name, :name)
    .large-2.columns
      =submit_tag "find dealmakers", :class => "button"
.row{:style => "background-color:#4a90e2; padding: 15px;"}
  %h4.value-proposition this is test
  .large-4.columns
    .circle
      =image_tag('clover.png')
    .value
      %span Grow your network, increase referrals and close deals faster.
  .large-4.columns
    .circle
      =image_tag('clover.png')
    .value
      %span Find off-market properties
  .large-4.columns
    .circle
      =image_tag('clover.png')
    .value
      %span Manage your leads.

.row{:style => "background-color:#fff; padding: 15px;"}
  .large-12.columns
    %h3 Deamaking Events
    %p Attend our AnySizeDeals matchup events, meet new contacts, and follow up on our platform.