.row
  .large-12.columns
    %h3 How it Works
    -unless user_signed_in?
      %button.large.right join for free
    AnySizeDeals connects you to people you don't know but should based on their area of interest and type of deals they are working on.

.row{:style => "padding: 15px 15px 40px;text-align:center;margin-bottom: 20px;"}
  .large-4.columns
    %h3 JOIN.
    =link_to new_user_registration_path do
      %div{:style=>"height: 200px;padding-top: 20px"}
        =image_tag('content_network.jpg', :size=>'250')
      .value{:style=>"color:#000"}
        %span Create your free profile, and upload your listings!
  .large-4.columns
    %h3 CONNECT.
    %div{:style=>"height: 200px;"}
      =image_tag('fotolia_connect.jpg',:size=>'350')
    .value{:style=>"color:#000"}
      %span Network with dealmakers and search properties in our "Dealflow."
  .large-4.columns
    %h3 DO DEALS.
    %div{:style=>"height: 200px;"}
      =image_tag('fotolia_dodeals.jpg',:size=>'180')
    .value{:style=>"color:#000"}
      %span Buy, sell or fund your deal.  Only pay $1 token per lead.
.row.page
  .large-5.columns
    %h3 Why AnySizeDeals?
    %video{controls: "", :style=>"width:95%;", :id => "help-video"}
      %source{src:'https://s3.amazonaws.com/anysizedeal2/videos/anysizedeals.m4v', type: "video/mp4"}


  .large-7.columns
    %p Join our community of investors and access:
    %label Off-Market Properties
    %p Get access to buyers and sellers internationally.
    %label New Sources of Capital
    %p Access professionals with equity and dept capabilities.
    %label Increased Network
    %p Build you investment team by connection with real estate professionals of diverse backgrounds.
    %label More Referrals, Better Deals
    %p With our pay per lead model, only pay $1 per token after finding the right deal.
