%p= "Hello #{@user.username}!"
%p= "Good news: there have been #{@count} new properties listed today on AnySizeDeals.com."
%p=link_to 'Visit the Dealflow to check out new listings', 'https://anysizedeals.com/listings'
%hr
%p=link_to "AnySizeDeals.com", "https://www.anysizedeals.com"
