#rsvp-form.reveal-modal{"data-reveal" => ""}
  .row
    .large-5.columns
      %h4 RSVP for #{@meal.title}

      %p
      =form_for :rsvp, :url => meal_rsvps_path(@meal.id), :method=>:post, :remote=>:true do |f|
        =f.hidden_field :meal_id, :value => @meal.id
        =f.hidden_field :origin, :value => "feed"
        %label How many?

        =f.number_field :dine_in_count, :value => 0, :min => 0, :max => @meal.dine_in_count - @meal.rsvps.dine_in.sum(:num), :class => "rsvp-count dine-in-count"
        (dine in)
        -if @meal.take_out_count > 0
          %br
          take out:
          =f.number_field :take_out_count, :value => 0, :min => 0, :max => @meal.take_out_count - @meal.rsvps.take_out.sum(:num), :class => "rsvp-count take-out-count"
        .credits #{@meal.cost} credits per rsvp
        .total-credits 0 credits needed (#{current_user.credits} avail)
        %br
        .larger-text
          =check_box_tag 'rsvp-checkbox', '', false
          agree to terms and conditions
        %br
        =f.submit "rsvp", :class => "button disabled", :id =>"submit-rsvp"
    .large-7.columns
      .panel
        %h4 Terms of RSVP
        -Term.all.each do |t|
          .term-title=t.title
          .term-description=t.description
:javascript
  $(".rsvp-count").bind('keyup mouseup', function () {
    var cost = "#{@meal.cost.to_i}";
    var total_credits = $('.take-out-count').val() * cost +  $('.dine-in-count').val() * cost;
    $('.total-credits').html(total_credits + " credits needed");
  });

    $("#rsvp-checkbox").change(function() {
        if(this.checked) {
            $('#submit-rsvp').removeClass("disabled");
            $('.larger-text').remove();
        }
        else {
          $('#submit-rsvp').addClass("disabled");
        }
    });