#rsvp-form.reveal-modal{"data-reveal" => ""}
  %h3 rsvp for #{@meal.title}
  -Term.all.each do |t|
    .term-title=t.title
    .term-description=t.description
  %p #{@meal.cost} credits per rsvp
  =form_for :rsvp, :url => meal_rsvps_path(@meal.id), :method=>:post, :remote=>:true do |f|
    =f.hidden_field :meal_id, :value => @meal.id
    =f.hidden_field :origin, :value => "feed"
    %label how many rsvps
    dine in:
    =f.number_field :dine_in_count, :value => 0, :min => 0, :max => @meal.dine_in_count - @meal.rsvps.dine_in.sum(:num), :class => "rsvp-count dine-in-count"
    take out:
    =f.number_field :take_out_count, :value => 0, :min => 0, :max => @meal.take_out_count - @meal.rsvps.take_out.sum(:num), :class => "rsvp-count take-out-count"

    .total-credits credits needed: 0
    .credits-avail credits available: #{current_user.credits}
    %br
    =check_box_tag 'rsvp-checkbox', '', false
    agree to terms and conditions
    %br
    =f.submit "rsvp", :class => "button disabled", :id =>"submit-rsvp"

:javascript
  $(".rsvp-count").bind('keyup mouseup', function () {
    var cost = "#{@meal.cost.to_i}";
    var total_credits = $('.take-out-count').val() * cost +  $('.dine-in-count').val() * cost;
    $('.total-credits').html("credits needed: " + total_credits);
  });

    $("#rsvp-checkbox").change(function() {
        if(this.checked) {
            $('#submit-rsvp').removeClass("disabled");
        }
        else {
          $('#submit-rsvp').addClass("disabled");
        }
    });