%br
dietary:
-@meal.dietary_list.each do |t|
  =link_to t, meals_path(:dietary=>t)
%br
cuisine:
-@meal.cuisine_list.each do |t|
  =link_to t, meals_path(:cuisine=>t)
%br
location:
-@meal.location_list.each do |t|
  =link_to t, meals_path(:location=>t)
%br
environmental:
-@meal.env_list.each do |t|
  =link_to t, meals_path(:env=>t)