=form_for @meal, url: meal_path(@meal), :method => :patch do |f|
  =f.label :title
  =f.text_field :title
  =f.label :description
  =f.text_area :description
  =f.label :address
  =f.text_field :address
  =f.label :cost
  =f.text_field :cost
  =f.label :dine_in_count
  =f.text_field :dine_in_count
  =f.label :start_time
  =f.text_field :start_time, :class => "datetimepicker"
  =f.label :end_time
  =f.text_field :end_time, :class => "datetimepicker"
  =f.label :dietary
  =f.text_field :dietary_list, :data => {:pre => @meal.dietary_list.collect{|tag| {:id => tag, :name => tag}}}
  %label cuisines & styles

  =f.text_field :cuisine_list, :data => {:pre => @meal.cuisine_list.collect{|tag| {:id => tag, :name => tag}}}
  %label environmental
  =f.text_field :env_list, :data => {:pre => @meal.env_list.collect{|tag| {:id => tag, :name => tag}}}
  %label neighborhoods & towns
  =f.text_field :location_list, :data => {:pre => @meal.location_list.collect{|tag| {:id => tag, :name => tag}}}
  =image_tag @meal.pic.url(:thumb)
  =f.file_field :pic
  =f.submit "save meal"

:javascript
  $(document).on('ready page:load', function(){


  });