=form_for @meal do |f|
  =f.hidden_field :user_id, :value => current_user.id
  =f.label :title
  =f.text_field :title
  =f.label :description
  =f.text_area :description
  =f.label :address
  =f.text_field :address
  =f.label :cost
  =f.text_field :cost
  =f.label :dine_in_count
  =f.text_field :dine_in_count
  =f.label :start_time
  =f.text_field :start_time, :class => "datetimepicker"
  =f.label :end_time
  =f.text_field :end_time, :class => "datetimepicker"
  =f.label :dietary
  =f.text_field :dietary_list, :input_html => {:class => 'item_tags', "data-pre" => f.object.dietary_list.split(',').each{|tag| {:id => tag, :name => tag}}.to_json}

  =f.submit "save meal"
