.meal[@meal]
  =@meal.title
  =link_to "edit", edit_meal_path(@meal)
  -@meal.dietary_list.each do |t|
    =link_to t, meals_path(:dietary=>t)
  -if @meal.dishes.present?
    = render @meal.dishes
  -if current_user == @meal.user
    %h3 attending
    =render @meal.rsvps

  -if current_user.rsvps.where(:meal_id=>@meal.id).present?
    =link_to meal_rsvps_path(@meal.id), :remote => :true, :method=>:post do
      .rsvp cancel rsvp
  -else
    -if @meal.rsvps_count < @meal.dine_in_count
      =link_to meal_rsvps_path(@meal.id), :remote => :true, :method=>:post do
        .rsvp rsvp
  %br
  -if current_user.watches.where(:meal_id=>@meal.id).present?
    =link_to meal_watches_path(@meal.id), :remote => :true, :method=>:post do
      .watch unwatch
  -else
    =link_to meal_watches_path(@meal.id), :remote => :true, :method=>:post do
      .watch watch

  .message

  %h2 Comments
  .comments
    = render :partial => 'comments/comment', :collection => @comments, :as => :comment
  = render :partial => 'comments/form', :locals => { :comment => @new_comment }
