.meal[@meal]
  =@meal.title
  =link_to "edit", edit_meal_path(@meal)

  -if current_user == @meal.user
    %h3 attending
    =render @meal.rsvps
  -else
    -if current_user.rsvps.where(:meal_id=>@meal.id).present?
      =link_to meal_rsvps_path(@meal.id), :remote => :true, :method=>:post do
        .rsvp cancel rsvp
    -else
      =link_to meal_rsvps_path(@meal.id), :remote => :true, :method=>:post do
        .rsvp rsvp
