/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require s3_direct_upload_progress_bars
 */

@import 'foundation-icons';
.reveal-modal {
   position: fixed; /* <- */
  top: 100px !important;
}
h4 {
  font-size: 17px;
  color: #aaa;
}
h4.logo {
  font-size: 21px;
}

button {
  font-weight: 200;
  letter-spacing: 2px;
  border-radius: 4px;
  font-weight: 500;
}
.reveal-modal {
   position: fixed; /* <- */
}
.button-icon {
	font-size: 3em;
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


/* listing partial */
.listing hr {
  margin: 5px 0px 0px;
}

.listing-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}
.listing-meta {
  margin-left: 12px;
}
.full-listing-meta {
  margin: 2px 15px;
  font-size: 13px;
}
.stats-box {
  border: 1px solid gray;
  padding: 7px 13px 12px;
  margin-top: -50px;
  background-color: #fff;
  display:inline-block;
  width: 100%;
  label {
    float: left;
    clear:both;
    display:inline-block;
    font-size: 20px;
    color: #aaa;
  }
  span {
    float: right;
    display:inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }
  .listing-buttons {
    clear: both;
    text-align: center;
    button {
      font-weight: 500;
    }
    button:hover {
      background-color:#d0021b;
    }
  }

}
.price {
  font-weight: 600;
  font-size: 25px;
}
.listing-header {
  h3, button, div {
    display:inline;
  }
  i {
    font-size: 25px;
  }
  h3 {
    margin: 0 15px 0 0;
    padding-bottom: 0px;
    padding-top: 5px;
  }
  padding: 6px 10px 0px;
  height: 50px;
}
.listing-meta {
  div {
    display: inline;
    margin: 0 18px 0 0;
  }
  i {
    margin-left: 12px;
  }
  font-size: 20px;
  padding: 6px 0;
}
.listing-feed-meta {
  div {
    display: inline;
    margin: 0 18px 0 0;
  }
  i {
    margin-left: 12px;
  }
  font-size: 16px;
  font-weight: 500;
  padding: 6px 0;
}

.listing-buttons {
  div {
    display:inline;
  }
  top: 20px;
  position: relative;

}

.meta-info {
  margin-right: 8px;
}
.listing-body {
  padding: 0px 15px;
  font-size: 15px;
  p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 17px;
  }
  label {
    color: #aaa;
  }
}

/* listing n feed */
.listing-tags {
  padding: 7px 9px;
  h5 {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
  }
}
.listing-host {
  text-align: right;
  margin-right:10px;
  padding: 6px;
  a {
    font-weight: bold;
    font-size: 20px;
  }
}


#new-listing-button {
  position: absolute;
  right: 20px;
  top: 0px;
  color: white;
  button {
    background-color: yellow;
    opacity: .9;
    margin: 0px;
  }
  button:hover {
    opacity: 1;
  }
}

#content, #full-content {
  top:50px;
  z-index: 2;
  right: 10px;
  position: relative;
  padding: 0px 15px;
}
#full-content {
  left: 0px;

}

/* new listing form */
#new_listing {
  input[type=number] {
    display: inline;
    width: 60px;
  }
  label {
    display: block;
    margin-bottom: 0.2em;
    font-size: 13px;
    color: #922A1E;
  }
}
.listing-section {
  margin-bottom: 10px;
  background-color: #ccc;
  padding: 5px 10px;
  textarea {
    height: 200px;
  }
}

/* tags */
.tag-suggestion a {
  font-size: 19px;
  padding: 2px 7px;
  margin: 2px;
  height: 34px;
  background: #ddd;
  line-height: 29px;
  color: #000;
  display: inline;
  float: left;
  cursor: pointer;
  font-weight: 500;
}
.tag-suggestion a:hover {
    background: #90ac88;
    color: #333545;
}

#tag-form {
  h4, p {
    display:inline;
  }
  h4 {
    margin-right: 9px;
  }
  .button {
    margin-top: 20px;

  }
}
.tag-category {
  padding: 4px 8px;
  background-color: #ede;
  margin-bottom: 8px;
}


#rsvp-form {
  input[type=number] {
    display: inline;
    width: 60px;
    font-size: 22px;
    height: 40px;
  }
  label {
    display: block;
    margin-bottom: 0.2em;
    font-size: 15px;
    color: #922A1E;
  }
}
.larger-text {
  font-size: 18px;
  color: #7F1B16;
  font-weight: 600;
}
.disabled {
  display:none;
}

.user-credits {
  padding: 10px;
  background-color: #87A35E;
  font-weight: 700;
  font-size: 22px;
}



/* login & reg */

.login-form {
  background-color: #eee;
  padding: 9px 15px;
  label {
    margin-bottom: 3px;
  }
  input {
    font-size: 17px;
    margin-bottom: 7px;
  }
  margin-top: 25px;
}

#terms {
  p {
    font-size: 14px;
  }
}

.feed-listing-number {
  width: 23%;
  padding: 0 1%;
  margin: 5px 4px;
  span{
    display: inline;
    font-size: 16px;
    color: #000;
  }
  label {
    display: inline;
    font-size: 18px;
    color: #aaa;
    margin-right: 8px;
    text-transform: uppercase;
  }
  float: left;
  border-right: 1px solid gray;
}
.feed-listing-meta {
  font-size: 13px;
  span {
    display: inline;
    margin-right: 15px;
  }

}

.feed-listing-image, .feed-listing-body {
  padding: 6px;
  h4 {
    margin:0px;
    padding: 0px;
  }
}

.feed-listing-body {
  padding: 6px 6px 6px 0px;
}

.feed-listing-image {
  position: relative;
  .token-count {
    position: absolute;
    background-color: white;
    font-size: 14px;
    top: 20px;
    padding: 2px 4px;
    color: #fcb134;
  }
}
//users

.user {
  border: 1px solid black;
  margin-right: 1%;
  float: left;
  width: 49%;
  margin-bottom: 12px;
  button {
    margin-bottom: 12px;
  }
  .name {
    font-size: 16px;
  }
  .dealmaker-type {
    font-size: 14px;
  }
  .heading {
    margin-left: 72px;
    a {
      color: black;
    }
  }
  .avatar {
    float: left;
    width: 68px;
  }

  .user-property {
    clear:both;
    label {
      float: left;
      width: 50%;
      font-size: 14px;
    }
    span {
      float: left;
      font-size: 14px;
      width: 50%;
      white-space: nowrap;
      overflow: hidden;

    }
  }
  .city {
    font-size: 12px;
  }
  .dealmaker-type {
    color: #4a90e2;
  }
}


.hidden {
  display: none;
}

/* home pahge  */


#home-image {
  background: image-url('fotolia_nyc.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  height: 400px;
  line-height: 400px;
  text-align: center;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 21px;
    padding: 5px 8px;
    background-color: rgba(74, 144, 226, 0.46);
    border: 1px solid black;
    color: white;

  }
}

.header-menu {
  float: right;
  margin-left: 15px;
  line-height: 40px;
  button {
    font-size: 15px;
    background-color: #fcb134;
    color: #fff;
    margin: 7px;
    padding: 4px 8px;
    font-weight: 500;
    letter-spacing: 0px;
  }
  a {
    color: white;
  }
}


#dealmaker-form {
  padding: 6px 8px;
  label, select {
    display: inline;
  }
  select {
    width: 180px;
    margin-left: 18px;
  }

}

.circle {
   img {
    display: block;
    margin: auto;
    padding: 45px;
   }
}

.circle {
  width: 140px;
  height: 140px;
  background-color: #ddd;
  border: 6px solid #FFF;
  border-radius: 70px;
  box-shadow: 0 0 2px #888;
  margin: 0 auto;
}

.value-proposition {
  margin: 3px auto 15px;
  width: 460px;
  text-align: center;
  color: #eee;
  font-size: 25px;
}
.value {
  max-width: 160px;
  font-size: 14px;
  color: #eee;
  margin: 0 auto;
  line-height: 17px;
  margin-top: 7px;
  text-align: center;
}
.small-form {
  display: inline-block;
  margin-right: 12px;
  input[type=number] {
    width: 100px !important;
  }
}

.row {
  max-width: 100%;
}

.dealflow{
background:image-url("dealflow.png") no-repeat 0px 11px;
text-indent:30px;
display:block;
background-size: 24px auto;
margin-right: 17px;
}

.connections{
background:image-url("connections.png") no-repeat 0px 13px;
text-indent:40px;
display:block;
background-size: 35px auto;
margin-right: 17px;
}
.connections:hover, .dealflow:hover {
  border-bottom: 3px solid red;
}

.city{
background:image-url("pin.svg") no-repeat 0px 3px;
text-indent:15px;

background-size: 13px auto;
float: left;
}

.timestamp {
 background:image-url("pin.svg") no-repeat 0px 3px;
text-indent:15px;
display:block;
background-size: 13px auto;
margin-left: 14px;
float: left;
}

.lead-button {
  text-transform: uppercase;
}
