/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require s3_direct_upload_progress_bars
 */

@import 'foundation-icons';
.reveal-modal {
   position: fixed; /* <- */
  top: 100px !important;
  overflow-y: auto;
}
h4 {
  font-size: 17px;
  color: #aaa;
}
div.logo {
  font-size: 21px;
}

button {
  letter-spacing: 2px;
  border-radius: 4px;
  font-weight: 500;
}
input[type="submit"] {
  border-radius: 4px;
}
.reveal-modal {
   position: fixed; /* <- */
}
.button-icon {
	font-size: 3em;
}

#home-buttons {
  text-align:center;
  margin-right: 13px;
  button {
    background-color: #fcb134;
    color: #fff;
    margin: 7px;
    padding: 4px 8px;
    font-weight: 500;
    letter-spacing: 0px;
  }
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

#map-canvas {
  width: 100%;
  margin-top: 10px;
}
/* listing partial */
.listing hr {
  margin: 5px 0px 0px;
}

.listing-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}
.listing-meta {
  margin-left: 12px;
}
.full-listing-meta {
  margin: 5px 0px;
  font-size: 13px;
}
.stats-box {
  border: 1px solid gray;
  padding: 7px 13px 12px;
  margin-top: -50px;
  background-color: #fff;
  display:inline-block;
  width: 100%;
  label {
    float: left;
    clear:both;
    display:inline-block;
    font-size: 20px;
    color: #aaa;
  }
  span {
    float: right;
    display:inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }
  .listing-buttons {
    clear: both;
    text-align: center;
    button {
      font-weight: 500;
    }
    button:hover {
      background-color:#d0021b;
    }
  }

}
.price {
  font-weight: 600;
  font-size: 25px;
}
.listing-header {
  h3, button, div {
    display:inline;
  }
  i {
    font-size: 25px;
  }
  h3 {
    margin: 0 15px 0 0;
    padding-bottom: 0px;
    padding-top: 5px;
  }
  padding: 6px 10px 0px;
  height: 50px;
}
.listing-meta {
  div {
    display: inline;
    margin: 0 18px 0 0;
  }
  i {
    margin-left: 12px;
  }
  font-size: 20px;
  padding: 6px 0;
}
.listing-feed-meta {
  div {
    display: inline;
    margin: 0 18px 0 0;
  }
  i {
    margin-left: 12px;
  }
  font-size: 16px;
  font-weight: 500;
  padding: 6px 0;
}

.listing-buttons {
  div {
    display:inline;
  }
  top: 20px;
  position: relative;

}

.meta-info {
  margin-right: 8px;
}
.listing-body {
  padding: 0px 15px;
  font-size: 15px;
  p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 17px;
  }
  label {
    color: #aaa;
  }
}

/* listing n feed */
.listing-tags {
  padding: 7px 9px;
  h5 {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
  }
}
.listing-host {
  text-align: right;
  margin-right:10px;
  padding: 6px;
  a {
    font-weight: bold;
    font-size: 20px;
  }
}


#new-listing-button {
  position: absolute;
  right: 20px;
  top: 0px;
  color: white;
  button {
    background-color: yellow;
    opacity: .9;
    margin: 0px;
  }
  button:hover {
    opacity: 1;
  }
}

#content, #full-content {
  top:14px;
  z-index: 2;

  position: relative;
  padding: 0px 25px;
}
#full-content {
  left: 0px;

}

/* new listing form */
#new_listing {
  input[type=number] {
    display: inline;
    width: 60px;
  }
  label {
    display: block;
    margin-bottom: 0.2em;
    font-size: 13px;
    color: #922A1E;
  }
}
.listing-section {
  margin-bottom: 10px;
  background-color: #ccc;
  padding: 5px 10px;
  textarea {
    height: 200px;
  }
}

/* tags */
.tag-suggestion a {
  font-size: 19px;
  padding: 2px 7px;
  margin: 2px;
  height: 34px;
  background: #ddd;
  line-height: 29px;
  color: #000;
  display: inline;
  float: left;
  cursor: pointer;
  font-weight: 500;
}
.tag-suggestion a:hover {
    background: #90ac88;
    color: #333545;
}

#tag-form {
  h4, p {
    display:inline;
  }
  h4 {
    margin-right: 9px;
  }
  .button {
    margin-top: 20px;

  }
}
.tag-category {
  padding: 4px 8px;
  background-color: #ede;
  margin-bottom: 8px;
}


#rsvp-form {
  input[type=number] {
    display: inline;
    width: 60px;
    font-size: 22px;
    height: 40px;
  }
  label {
    display: block;
    margin-bottom: 0.2em;
    font-size: 15px;
    color: #922A1E;
  }
}
.larger-text {
  font-size: 18px;
  color: #7F1B16;
  font-weight: 600;
}
.disabled {
  display:none;
}

.user-credits {
  padding: 10px;
  background-color: #87A35E;
  font-weight: 700;
  font-size: 22px;
}



/* login & reg */

.login-form {
  background-color: #eee;
  padding: 9px 15px;
  label {
    margin-bottom: 3px;
  }
  input {
    font-size: 17px;
    margin-bottom: 7px;
  }
  margin-top: 25px;
}

#terms {
  p {
    font-size: 14px;
  }
}

.feed-listing-number {

  padding: 0 1%;
  margin: 5px 2px;
  text-align:center;
  span{
    display: inline;
    font-size: 12px;
    color: #000;
  }
  label {
    display: inline;
    font-size: 14px;
    color: #aaa;
    text-align:center;

  }
  float: left;
  border-right: 1px solid gray;
}

.feed-listing-title {
  font-size: 20px;
  color: #000;
  margin-bottom: 8px;
}
.feed-listing-price {
  font-size: 20px;
  color: #000;
  margin-bottom: 8px;
  clear:both;
  padding-top: 7px;
}

.feed-listing-number:last-child {
  border-right: none;
}
.feed-listing-meta {
  font-size: 13px;
  span {
    display: inline;
    margin-right: 15px;
  }

}

.feed-listing-image, .feed-listing-body {
  padding: 6px;
  h4 {
    margin:0px;
    padding: 0px;
  }
}

.feed-listing-body {
  padding: 6px 6px 6px 0px;
}

.feed-listing-image {
  position: relative;
  .token-count {
    position: absolute;
    background-color: white;
    font-size: 14px;
    top: 20px;
    padding: 2px 4px;
    color: #fcb134;
  }
}
//users

.user {
  border: 1px solid black;
  margin-right: 1%;
  float: left;
  width: 49%;
  margin-bottom: 12px;
  button {
    margin-bottom: 12px;
  }
  .name {
    font-size: 16px;
  }
  .dealmaker-type {
    font-size: 14px;
  }
  .heading {
    margin-left: 90px;
    a {
      color: black;
    }
  }
  .avatar {
    float: left;
    width: 85px;
    min-height: 80px;
  }

  .user-property {
    clear:both;
    label {
      float: left;
      width: 50%;
      font-size: 14px;
    }
    span {
      float: left;
      font-size: 14px;
      width: 50%;
      white-space: nowrap;
      overflow: hidden;

    }
  }
  .city {
    font-size: 12px;
    white-space: nowrap;
      overflow: hidden;
      width: 100%;
  }
  .dealmaker-type {
    color: #4a90e2;
  }
}


.hidden {
  display: none;
}

/* home pahge  */


#home-image {
  background: image-url('fotolia_nyc.jpg');
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 190%;
  height: 500px;
  line-height: 400px;
  text-align: center;
  span {
    display: inline-block;
    vertical-align: middle;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 50px;
  color: #4a90e2;
  margin: 0px auto;
  font-size: 35px;
  -webkit-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding-top: 0px;
    max-width: 400px;

  }
}

.header-menu {
  float: right;
  margin-left: 15px;
  line-height: 40px;
  button {
    font-size: 15px;
    background-color: #fcb134;
    color: #fff;
    margin: 7px;
    padding: 4px 8px;
    font-weight: 500;
    letter-spacing: 0px;
  }
  a {
    color: white;
  }
}


#dealmaker-form {
  padding: 6px 8px;
  label, select {
    display: inline;
  }
  select {
    width: 180px;
    margin-left: 18px;
  }

}

.circle {
   img {
    display: block;
    margin: auto;
    padding: 30px;
   }
}

.circle {
  width: 140px;
  height: 140px;
  background-color: #ddd;
  border: 6px solid #FFF;
  border-radius: 70px;
  box-shadow: 0 0 2px #888;
  margin: 0 auto;
}

.value-proposition {
  margin: 3px auto 15px;
  text-align: center;
  color: #eee;
  font-size: 27px;
  line-height: 75px;
}
.value {
  max-width: 160px;
  font-size: 15px;
  color: #eee;
  margin: 0 auto;
  line-height: 17px;
  margin-top: 7px;
  text-align: center;
}
.small-form {
  display: inline-block;
  margin-right: 12px;
  input[type=number] {
    width: 100px !important;
  }
}

.row {

}

.dealflow{
background:image-url("dealflow.png") no-repeat 0px 11px;
text-indent:30px;
display:block;
background-size: 24px auto;
margin-right: 17px;
}

.connections{
background:image-url("connections.png") no-repeat 0px 13px;
text-indent:40px;
display:block;
background-size: 35px auto;
margin-right: 17px;
}
.connections:hover, .dealflow:hover {
  border-bottom: 3px solid red;
}

.city{
background:image-url("pin.svg") no-repeat 0px 3px;
text-indent:15px;

background-size: 13px auto;
float: left;
}

.timestamp {
 background:image-url("pin.svg") no-repeat 0px 3px;
text-indent:15px;
display:block;
background-size: 13px auto;
margin-left: 14px;
float: left;
}

.lead-button {
  text-transform: uppercase;
}

.full-user {
  border: 0px;
  width: 100%;
  float: left;
  margin-bottom: 12px;
  button {
    margin-bottom: 12px;
  }
  .name {
    font-size: 20px;
    font-weight: 600;
  }
  .dealmaker-type {
    font-size: 14px;
  }
  .heading {
    margin-left: 112px;
    a {
      color: black;
    }
  }
  .avatar {
    float: left;
    width: 102px;

  }
  .about {
    font-size: 14px;
  }

  .user-property {
    clear:both;
    label {
      float: left;
      width: 50%;
      font-size: 14px;
    }
    span {
      float: left;
      font-size: 14px;
      width: 50%;
      white-space: nowrap;
      overflow: hidden;

    }
  }
  .city {
    font-size: 15px;

  }
  .dealmaker-type {
    color: #000;
    font-size: 16px;
  }
}
.full-user-actions {
  position: absolute;
top: 0px;
right: 15px;
}

.tag {
  padding:5px 8px;
  background-color: #ccc;
  color: #000;
  border-radius: 5px;
  margin-right: 6px;
  opacity: .9;
  display: inline-block;
  margin-bottom: 5px;
}
.tag:hover {
  opacity: 1;
}

#profile_section {
  float:right;
  position: relative;
  height: 35px;
  width: 35px;
  margin-top: 0px;
  cursor:pointer;
}
#personal_menu {
    padding: 0px 7px;
    position: absolute;
    right: 22px;
    top: 5px;
    font-weight: 400;
  }
//user drop down menu
#expanded_user_menu{
    padding: 0px 7px 20px 7px;

    position: absolute;
    display: none;
    top: 0px;
    right: -22px;
    z-index: 901;
    cursor:pointer;
}
#user-menu {
  background: #333545;
  margin-top: 35px;
  margin-bottom: 30px;
}
#expanded_user_menu ul{
    background:#4a90e2;;
    width: 205px;
    clear:right;
    color: #fff;
    margin:0;
    padding:8px 0;
    list-style:none;
    float:right;
    border-bottom:1px solid #B1A5BF;
    a:hover {
      text-decoration: none;
    }
}
#expanded_user_menu ul li{
    clear:both;
    margin:0 0 0 0px;
    padding:0 5px;
    list-style:none;
    line-height: 20px;
    opacity: .9;
    text-align:right;
    text-indent: 20px;
    line-height:22px;
    height: 25px;
    color:#fff;
    img{
      float:right;
      margin: 0 3px 0 10px;
    }
}
#expanded_user_menu ul li:hover{
    opacity: 1;
    text-decoration:none;
}
#expanded_user_menu ul li a{

    text-decoration:none;
    color: #fff;
    float: right;
}
#expanded_user_menu ul li a:hover{
    text-decoration:none;
}
#expanded_user_menu span{
    float:right;
}

.dealmaking-events {
  height: 400px;
  padding: 15px;
  color: #000;
  position: relative;
  overflow: hidden;
  h3 {
    color: #000;
    position: relative;
    z-index: 10;
  }
  p {
    color: #000;
    position: relative;
    z-index: 11;
  }
  a {
    color: #000;
    position: relative;
    z-index: 12;
  }
}

.screen-size {
  width: 2px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .user {
    width: 100%;
    margin-right: 0%;
  }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (max-width: 40em) {
  #home-image {
    background-position: top;
    height: auto;
    line-height: 300px;
    span {
      color: #000;
      vertical-align:top;
      padding-top: 25px;
      font-size: 28px;
      width: 100%;
    }
  }
  .home-message {
    max-width: 85%;

  }
  .value-proposition {
    line-height: 30px;
  }
  .value {
    margin-bottom: 15px;
  }
  .user {
    width: 100%;
    margin-right: 0%;
  }
  .row {
    max-width: 100%;
  }
  #content {
    padding: 0px;
  }
  .feed-listing-body {
    padding: 0 15px;
  }
  .feed-listing-number span {
    display:block;
    white-space: nowrap;
  }

  .stats-box {
    margin-top: 10px;
  }
  .reveal-modal {
    top: 0px !important;
  }
  .screen-size {
    width: 1px;
  }
  .new-message {
    font-size: 13px;
    right: 10px;
  }
  .full-user-actions {
    position: relative;
    top: 0px;
  }
  .listing-header {
    height: auto;

  }
  .listing-action-buttons {
    display: block !important;
    button {
      margin: 0px;
    }
  }
}