/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'foundation-icons';

.button-icon {
	font-size: 3em;
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* comments */

.comment {
  position: relative;
  text-align: left;
  margin-bottom: 3px;
}


.comment-delete {
  display: block;
  position: absolute !important;
  width: 18px;
  height: 18px;
  line-height: 16px;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  top: 2px;
  right: 2px;
  padding: 3px;
  background: #ccc;
}
.comment-delete:hover {
  background: #bbb;
  text-decoration: none;
}
.comment-left {
  float: left;
  padding: 3px;
  width: 54px;
  height: 54px;
  margin-right: -60px;
  min-width: 40px;
  min-height: 40px;
  overflow: hidden;
  background-color: #BDA142;
}
.comment-content {
  float: left;
  width: 100%;

}
.comment-right {
  margin-left: 60px;
  padding: 0px 10px;
}
.comment-meta {
  margin-right: 40px;
}
.comment-author {
  float: left;
  font-size: 16px;
  color: #000;
}

.comment-show-reply {

  font-size: 13px;

}
.comment-date {
  float: right;
  font-size: 12px;
  padding-top: 4px;
  margin-right: 5px;
}
.comment-meta, .comment-meta a {
  color: #395771;
}
.comment-block p {
  margin-bottom: 10px;
  margin-top: 0;
}

.editable textarea {
  width: 450px;

}


#transfer-credits {
  input[type=number] {
    width: 70px;
  }
}


.dish-title {
  font-size: 19px;
}
.dish-desc {
  font-size: 14px;
  margin-left: 10px;

}

/* meal partial */

.meal {
  margin-bottom: 8px;
  padding: 4px 8px;
}
.meal-title {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}
.meal-meta {
}


.meal-header {
  h3, button, div {
    display:inline;
  }
  i {
    font-size: 25px;
  }
  h3 {
    margin: 0 15px 0 0;
    padding-bottom: 0px;
    padding-top: 5px;
  }
  background-color: #F5F1E3;
  padding: 6px 10px;
  height: 60px;
}
.meal-meta {
  div {
    display: inline;
    margin: 0 18px 0 0;
  }
  i {
    margin-left: 12px;
  }
  font-size: 20px;
  padding: 6px 0;
  background-color: #eee;
}
.meal-body {
  padding: 0px 15px;
  font-size: 15px;
  p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 17px;
  }
}
/* header stuff */

#header-logo {
  width: 0px;
  height: 60px;
  background: url('header-logo.png');
  position: fixed;
  margin: 0 auto;
  top: 0px;
  left: 50%;
  margin-left: -167px;
  z-index: 999;
}

#header-right {
  width: 50%;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 60px;
  background-color: #598A6B;
  z-index: 997;
}
#header-left {
  width: 50%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  background-color: #598A6B;
  z-index: 998;
}
#new-meal-button {
  position: absolute;
  right: 20px;
  top: 7px;
  button {
    background-color: #922A1E;
  }
}
#menu-button {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 15px;
  font-size: 40px;
  color:#333;
  height: 60px;
}
#menu-button:hover {
  background-color: #922A1E;
}

#content, #full-content {
  position: absolute;
  top:60px;
  z-index: 2;
  right: 10px;
  padding: 12px 10px;
}
#full-content {
  left: 0px;

}
#menu {
  position:fixed;
  top: 60px;
  background-color: #994C48;
  height: 100%;
  z-index: 500;
}

#profile-section {
  position: relative;
  width: 100%;
  background-color: #C3B157;
  hr {
    border-color: #994C48;
    padding: 0px;
    margin: 0px 5px;
  }
}
#filter-section {
  h4 {
    color: #FCB43F;
    font-size: 18px
  }
  a {
    color: #212121;
    display: block;
    font-size: 18px;
    margin-left: 8px;
  }
  padding: 10px;
}
#profile-image, #profile-links {
  width: 50%;
  float: left;
  text-align:center;
  li {
    list-style-type: none;
  }
  a {
    font-size: 18px;
    line-height: 20px;
  }
}
#profile-links {
  text-align:left;


}

#notifications {
  position: absolute;
  top: 125px;
  left: 20px;
  right: 20px;
  max-height: 200px;
  padding: 0px 8px;
  background-color: #c0c;
  display: none;
  p {
    font-size: 13px;
    line-height: 13px;
    padding: 2px 0 5px;
    color: #fff;
    border-bottom: 1px solid gray;
  }
}
/* new meal form */
#new_meal {
  input[type=number] {
    display: inline;
    width: 60px;
  }
  label {
    display: block;
    margin-bottom: 0.2em;
    font-size: 13px;
    color: #922A1E;
  }
}
.meal-section {
  margin-bottom: 10px;
  background-color: #ccc;
  padding: 5px 10px;
  textarea {
    height: 200px;
  }
}
.new-dish {
  input {
    margin: 2px !important;

  }
  margin-bottom: 8px !important;
}
.dish-description {
  font-size: 12px !important;
}
.dish-title {
  font-size: 15px !important;
}

/* tags */
.tag-suggestion a {
  font-size: 19px;
  padding: 2px 7px;
  margin: 2px;
  height: 34px;
  background: #ddd;
  line-height: 29px;
  color: #000;
  display: inline;
  float: left;
  cursor: pointer;
  font-weight: 500;
}
.tag-suggestion a:hover {
    background: #90ac88;
    color: #333545;
}

#tag-form {
  h4, p {
    display:inline;
  }
  h4 {
    margin-right: 9px;
  }
  .button {
    margin-top: 20px;

  }
}
.tag-category {
  padding: 4px 8px;
  background-color: #ede;
  margin-bottom: 8px;
}


#rsvp-form {
  input[type=number] {
    display: inline;
    width: 60px;
  }
  label {
    display: block;
    margin-bottom: 0.2em;
    font-size: 13px;
    color: #922A1E;
  }
}

.disabled {
  display:none;
}

.user-credits {
  padding: 10px;
  background-color: #87A35E;
  font-weight: 700;
  font-size: 22px;
}

#transfers {
  height: 100px;
  overflow: hidden;
}
#transfers.expanded-list {
  height: 100%;
}

@media screen and (min-width:500px) {
  #content {
    left: 200px;
  }
  #menu {
    left: 0px;
    width: 200px;
  }
}
@media screen and (max-width:499px) {
  #content {
    left: 0px;
  }
  #menu {
    left: -300px;
    width: 300px;
  }
}

#user-icon-bar {
  width: 100%;
  clear:both;
  padding-left:5px;
  height: 33px;
  div {
    width: 40px;
    line-height: 1em;
    text-align:center;
    display: inline;
    i {
      margin: 0 7px;
      font-size: 27px;
    }
  }
}


.user-actions {
  div {
    display: inline;
  }
  button, .button {
    margin-bottom: 5px !important;
  }
}

.profile-name {
  font-size: 22px;
  margin: 6px 0;
}
