%footer.row{:style => "background-color:#ccc; padding: 6px 5px;clear:both;margin-top: 50px;"}
  .large-12.columns

    %ul.inline-list.left
      %li © Copyright ASD
      %li
        =link_to "About", pages_path("about")
      %li
        =link_to "How it works", pages_path("how_it_works")
      %li
        =link_to "FAQ", pages_path("faq")
      %li
        =link_to "Terms of service", pages_path("terms")
      %li
        =link_to "Privacy policy", pages_path("privacy")
      %li
        =link_to "LinkedIn", "https://www.linkedin.com/company/anysizedeals"
      %li
        =link_to "Facebook", "https://www.facebook.com/anysizedeals?ref=hl"
      %li
        =link_to "Twitter","https://twitter.com/anysizedeals"
      %li
        =link_to "instagram", "https://instagram.com/anysizedeals/"

