.row{:style=>"z-index:900;top: 0px;"}
  .large-1.medium-2.small-2.columns{:style => "background-color:#d0021b; height: 42px;line-height:42px; text-align:center;"}
    =link_to landing_path do
      .logo{:style=>"color:white;font-weight: 500;"} ASD

  .large-11.medium-10.small-10.columns{:style => "background-color:#4a90e2; float: right; height: 42px;font-weight:500;"}
    #header-menu.show-for-small
      -if user_signed_in?
        .header-menu

          = render :partial => 'users/personal_menu'
        .header-menu
          =link_to new_listing_path do
            =image_tag('add.png', :size=>'30x30')


      .header-menu
        =link_to listings_path do
          =image_tag('dealflow.png', :size=>'33x33')
      .header-menu
        =link_to users_path do
          =image_tag('connections.png', :size=>'50x50')

    #header-menu.show-for-medium-up
      -if user_signed_in?
        .header-menu

          = render :partial => 'users/personal_menu'
        .header-menu
          =link_to new_listing_path do
            %button.large.right
              %i.fi-add
              + Add Deal

      -else
        .header-menu
          =link_to new_user_session_path do
            %button.tiny.right
              Login
        .header-menu
          =link_to new_user_registration_path do
            %button.tiny.right
              Register
        .header-menu
          =link_to new_user_session_path do
            %button.large.right
              %i.fi-add
              + Add Deal
      .header-menu
        =link_to users_path do

          .connections
            .hide-for-mobile Dealmakers
      .header-menu
        =link_to listings_path do

          .dealflow
            Dealflow