#top-bar
  #header-left
    #menu-button
      %i.fi-list
  #header-right
    -if user_signed_in?
      =link_to new_meal_path ,:id=>"new-meal-button" do
        %button.large
          %i.fi-plus
          post a meal
    -else
      =link_to new_user_session_path, :id=>"new-meal-button" do
        %button.large
          %i.fi-add
          login
  =link_to root_path do
    #header-logo

