.row{:style=>"position:fixed;z-index:900;top: 0px;"}
  .large-1.columns{:style => "background-color:#d0021b; height: 42px;"}
    =link_to root_path do
      %h4.logo{:style=>"color:white;font-weight: 500;text-align:center;"} ASD

  .large-11.columns{:style => "background-color:#4a90e2; float: right; height: 42px;font-weight:500;"}

    -if user_signed_in?
      .header-menu
        =link_to user_path(current_user) do
          =image_tag("profile.png", :size=>"26x26")
      .header-menu
        =link_to new_listing_path do
          %button.large.right
            %i.fi-add
            + add deal
    -else
      .header-menu{:style=>"margin-left:0px;"}
        =link_to new_user_session_path do
          %button.tiny.right
            login
      .header-menu
        =link_to new_user_registration_path do
          %button.tiny.right
            register

    .header-menu
      =link_to users_path do

        .connections
          connections
    .header-menu
      =link_to listings_path do

        .dealflow
          dealflow