.row
  .large-1.columns{:style => "background-color:#4a90e2; height: 42px;"}
    =link_to root_path do
      %h4 ASD

  .large-11.columns{:style => "background-color:#d0021b; float: right; height: 42px;"}

    -if user_signed_in?
      .header-menu
        =link_to user_path(current_user) do
          %i.button-icon.fi-user
          profile
      .header-menu
        =link_to new_listing_path do
          %button.large.right
            %i.fi-add
            add deal
      .header-menu
        =link_to listings_path do

          %i.fi-add
          dealflow
      .header-menu
        =link_to users_path do

          %i.fi-add
          connections


    -else
      =link_to new_user_session_path, :id=>"new-meal-button" do
        %button.large.right
          %i.fi-add
          login
      =link_to new_user_registration_path, :id=>"new-meal-button" do
        %button.large.right
          %i.fi-add
          register