-if user_signed_in?
  #profile-section
    #profile-image
      =link_to profile_path(current_user.username) do
        %i.fi-torso-female{:style=>"font-size:75px;"}
    #profile-links
      =link_to profile_path(current_user.username) do
        @#{current_user.username}
    %hr
    #user-icon-bar
      %div
        =link_to edit_user_path(current_user) do
          %i.fi-widget.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "account settings"}
      %div
        =link_to "#" do
          #notifications-button
            %i.fi-alert.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "notifications"}
      %div
        =link_to user_conversations_path(current_user) do
          %i.fi-mail.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "private messages"}
      %div
        =link_to credit_page_user_path(current_user) do
          %i.fi-burst.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "manage credits"}
      %div
        =link_to destroy_session_path(:user), :method => :delete do
          %i.fi-x.has-tip{"aria-haspopup" => "true", "data-tooltip" => "", :title => "logout"}

  #notifications.red
    =render 'users/notifications'
#filter-section
  %h4 explore meals
  =link_to "all upcoming", meals_path
  -if user_signed_in?
    =link_to "watching", meals_path(:type => "watched")
    =link_to "attending", meals_path(:type => "rsvped")
    =link_to "following", meals_path(:following => :true)
    =link_to "custom", custom_meals_path
