-if user_signed_in?
  #profile-section
    #profile-image
      =link_to profile_path(current_user.username) do
        -if current_user.avatar.exists?
          =image_tag current_user.avatar.url(:thumb), :size=>'60x60', :style => "margin: 5px;"
        -else
          %i.fi-torso-female{:style=>"font-size:75px;"}
      =link_to profile_path(current_user.username) do
        @#{current_user.username}
    %hr
    #user-icon-bar
      %div
        =link_to edit_user_path(current_user) do
          =image_tag('settings.png',:size=>'23x23',:class=>"has-tip", "aria-haspopup" => "true", "data-tooltip" => "", :title => "account settings")
      %div
        =link_to "#" do
          #notifications-button
            =image_tag('notifications.png',:size=>'23x23',:class=>"has-tip", "aria-haspopup" => "true", "data-tooltip" => "", :title => "notifications")
      %div
        =link_to user_conversations_path(current_user) do
          =image_tag('messages.png',:size=>'23x23',:class=>"has-tip", "aria-haspopup" => "true", "data-tooltip" => "", :title => "messages")
      %div
        =link_to credit_page_user_path(current_user) do
          =image_tag('credit.png',:size=>'23x23',:class=>"has-tip", "aria-haspopup" => "true", "data-tooltip" => "", :title => "credits")
      %div
        =link_to destroy_session_path(:user), :method => :delete do
          =image_tag('logout.png',:size=>'23x23',:class=>"has-tip", "aria-haspopup" => "true", "data-tooltip" => "", :title => "logout")

  #notifications.red
    =render 'users/notifications'
#filter-section
  %h4 explore meals
  =link_to "all upcoming", meals_path
  -if user_signed_in?
    =link_to "watching", meals_path(:type => "watched")
    =link_to "attending", meals_path(:type => "rsvped")
    =link_to "following", meals_path(:following => :true)
    =link_to "custom", custom_meals_path

  %h4{:style => "margin-top: 18 px;"} info
  =link_to "about", pages_path(:page_name=>"about")
