-if user_signed_in?
  #profile-section
    #profile-image
      %i.fi-torso-female{:style=>"font-size:75px;"}
    #profile-links
      %ul
        %li=link_to "your profile", profile_path(current_user.username)
        %li=link_to "account settings", edit_user_path(current_user)
        %li=link_to "logout", destroy_session_path(:user), :method => :delete
        %li#notifications-button notifications
  #notifications.red
    =render 'users/notifications'
#filter-section
  %h4 explore meals
  =link_to "all upcoming", meals_path
  -if user_signed_in?
    =link_to "watching", meals_path(:type => "watched")
    =link_to "attending", meals_path(:type => "rsvped")
    =link_to "following", meals_path(:following => :true)
    =link_to "custome", custom_meals_path
